<div class='flex-row flex-align-center'>
  <span
    class='mr-2'
    local-class='team-project-icon-{{@namespace.platformIconClass}}'
  >
    {{fa-icon @namespace.platformIconClass local-class='team-project-icon'}}
  </span>
  <AkTypography @tag='span'>
    {{@namespace.value}}
  </AkTypography>
</div>